extends layout

block content
  div(class='jumbotron')
    h1(class='display-3') #{title}
    p(class='lead') Welcome to #[em Music For Humanity], an interactive music game based off of Cards Against Humanity.
    hr(class='my-4')
    h2 How to Play
    p Under construction
