extends layout

block script
  script(src='/javascripts/new_game.js')

block content
  div(class='page-container')
    h1 Create New Game
    hr(class='my-4')
    form(id='new-game-form')
      div(class='form-group row')
        label(for='gameName' class='col-sm-2 col-form-label') Game Name
        div(class='col-sm-10')
          input(type='text' class='form-control' id='gameName' placeholder="e.g. Can't Touch This" required)
      div(class='form-group row')
        label(for='player_name1' class='col-sm-2 col-form-label') Player 1
        div(class='col-sm-10')
          input(type='text' class='form-control' id='player_name1' placeholder="e.g. Annie" required)
      div(class='form-group row')
        label(for='player_name2' class='col-sm-2 col-form-label') Player 2
        div(class='col-sm-10')
          input(type='text' class='form-control' id='player_name2' placeholder="e.g. Bobbette" required)
      div(class='form-group row')
        label(for='player_name3' class='col-sm-2 col-form-label') Player 3
        div(class='col-sm-10')
          input(type='text' class='form-control' id='player_name3' placeholder="e.g. Celia" required)
      div(class='form-group row')
        label(for='player_name4' class='col-sm-2 col-form-label') Player 4
        div(class='col-sm-10')
          input(type='text' class='form-control' id='player_name4' placeholder="e.g. Doug" required)
      div(class='form-group row')
        div(class='col-sm-10')
          button(type='submit' class='btn btn-primary') Submit
          
