div(class='col-center' style='margin-bottom: 20px;')
  iframe(type='text/html' width='640' height='390'
    src='https://www.youtube.com/embed/' + data.round.videoId + '?autoplay=1&amp;version=3&amp;loop=1&amp;playlist=' + data.round.videoId
    frameborder='0')

div(class='btn-group col-center' data-toggle='buttons' style='margin-bottom: 20px;')
  label(class='btn btn-primary active' id='option0-btn')
    input(type='radio' name='options' id='option0' autocomplete='off' checked)
    | None
  label(class='btn btn-primary' id='option1-btn')
    input(type='radio' name='options' id='option1' autocomplete='off')
    | Option 1
  label(class='btn btn-primary' id='option2-btn')
    input(type='radio' name='options' id='option2' autocomplete='off')
    | Option 2
  label(class='btn btn-primary' id='option3-btn')
    input(type='radio' name='options' id='option3' autocomplete='off')
    | Option 3
