div(class='col-center' style='margin-bottom: 20px;')
  div(id='videoplayer')
  script(src='/javascripts/instrument_names.js')
  script(src='/javascripts/videoplayer.js')

div(class='btn-group col-center' data-toggle='buttons' style='margin-bottom: 20px;')
  label(class='btn btn-primary active' id='option0-btn')
    input(type='radio' name='options' id='option0' autocomplete='off' checked)
    | None
  label(class='btn btn-primary' id='option1-btn')
    input(type='radio' name='options' id='option1' autocomplete='off')
    | Option 1
  label(class='btn btn-primary' id='option2-btn')
    input(type='radio' name='options' id='option2' autocomplete='off')
    | Option 2
  label(class='btn btn-primary' id='option3-btn')
    input(type='radio' name='options' id='option3' autocomplete='off')
    | Option 3
