.content {
  padding: 20px 50px 50px 50px;
}

.music-button {
  height: 100px;
  width: 100px;
  color: white;
  margin: 20px;
  white-space: normal;
  cursor: pointer;
}

.music-button:disabled,
.music-button[disabled] {
  cursor: auto;
}

.melody-button {
  background-color: #3498db;
}

.percussion-button {
  background-color: #f39c12;
}

.bass-button {
  background-color: #c0392b;
}

.animation-container {
  position: relative;
  display: inline;
}

.vertical-container {
  display: flex;
  flex-direction: column;
}

.col-center {
  margin: 0 auto;
}

#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  background: url('../images/spinner.gif') no-repeat center center;
  display: none;
}
