.content {
  padding: 50px;
}

.music-button {
  height: 100px;
  width: 100px;
  color: white;
  margin: 20px;
  white-space: normal;
}

.melody-button {
  background-color: #3498db;
}

.percussion-button {
  background-color: #f39c12;
}

.bass-button {
  background-color: #c0392b;
